:root {
  --soft-brown: #a6896f;
  --brown: #593825;
  --dark-brown: #2c1b14;
  --surface-brown: #d9bba9;
  --soft-red: #f16f68;
  --red: #a62b1f;
  --dark-red: #410703;
  --hot-red: #b10001;
  --black: #0d0d0d;
  --white: #ffe9d7;
  --font-size: 1.3rem;
  --mono: "Ubuntu Mono", monospace;
  --sans: "Ubuntu", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: var(--red);
}

a:hover {
  color: var(--hot-red);
  text-decoration: none;
}

img {
  width: 100%;
}

.section-dkred {
  background-color: var(--dark-red);
}

.gradient {
  background: linear-gradient(
    90deg,
    rgba(177, 0, 1, 1) 0%,
    rgba(166, 137, 111, 1) 100%
  );
  height: 2px;
}

/* INTRO CLASSES */

#intro {
  padding: 4rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--mono);
}

.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--red);
  display: block;
}

#intro h2 {
  font-size: 4rem;
  font-weight: normal;
}

/* CONTACT CLASSES */

#contact {
  padding: 3rem 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-brown);
}

#contact p {
  width: 400px;
  text-align: center;
}

#contact a {
  margin-top: 3rem;
}

/* NAV CLASSES */

nav {
  font-family: var(--mono);
  font-size: 80%;
  padding: 1rem;
}

nav h1 a {
  font-family: var(--sand);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}

nav [class*="fa-"] {
  font-size: 150%;
  color: var(--soft-red);
}

nav h1 [class*="fa-"] {
  font-size: 100%;
  color: var(--soft-red);
}

nav a {
  color: var(--white);
  text-decoration: none;
  display: block;
}

nav a:hover,
nav [class*="fa-"]:hover {
  color: var(--hot-red);
}

.button {
  background-color: var(--red);
  color: var(--white);
  font-family: var(--mono);
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 5px;
}

.button:hover {
  color: var(--white);
  background-color: var(--hot-red);
}

/* FOOTER CLASSES */

footer {
  padding: 0;
  padding: 4rem 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

footer div {
  display: flex;
  gap: 3rem;
}

footer [class*="fa-"] {
  font-size: 3rem;
  color: var(--soft-red);
}

footer p {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/* PROJECTS CLASSES */

#projects {
  padding: 4rem 1rem;
}

#projects h2 {
  font-size: 2.5rem;
  margin-bottom: calc(2.5rem * 1.5);
}

#projects h3 {
  color: var(--soft-red);
}

#projects h4 {
  font-size: 1rem;
  font-family: var(--mono);
  margin: 0;
}

.blackbox {
  background-color: var(--black);
  padding: 1rem;
  border-radius: 10px;
  color: var(--white);
  font-size: 1rem;
  line-height: 1.5;
}

#projects ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
}

#projects img {
  margin: 2rem 0 4rem 0;
  border-left: 1px solid var(--red);
  border-top: 1px solid var(--red);
  border-radius: 25px;
  padding: 1rem;
  max-width: 800px;
}

@media (min-width: 550px) {
  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
  }
  #projects img {
    grid-column: 1/6;
    grid-row: 1/2;
  }
  .text {
    grid-column: 5/11;
    grid-row: 1/2;

    order: 2;
    text-align: right;
  }
  #projects ul {
    justify-content: flex-end;
  }
}

@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}

/* FONT CLASSES */

.ubuntu-mono-regular {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-mono-bold {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-mono-regular-italic {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-mono-bold-italic {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}
