html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

hr {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-top: 50px;
  margin-bottom: 60px;
}

h1 {
  color: rgb(46, 46, 46);
  width: 100%;
  text-align: center;
}

.words-container {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.word-line {
  display: flex;
  justify-content: space-between;
}

.letter-input {
  width: 50px;
  height: 50px;
  border: 4px solid lightgray;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
